#!/usr/bin/env bash
set -euo pipefail

job_dir="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"

args=(check)
{% if job.check.read_data | default(false) | bool %}
args+=(--read-data)
{% endif %}

docker compose --project-directory "$job_dir" run --rm restic "${args[@]}"
