[Unit]
Description=Run OffsiteBuddy backup job {{ job.name }}

[Timer]
OnCalendar=*-*-* {{ job.schedule }}:00
RandomizedDelaySec={{ offsitebuddy_backup_randomized_delay_sec }}
Persistent=true

[Install]
WantedBy=timers.target
