[defaults]
collections_path = ./collections:~/.ansible/collections
roles_path = ./roles
remote_tmp = /tmp/.ansible/tmp
stdout_callback = yaml
retry_files_enabled = False

[galaxy]
server_list = release_galaxy

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
